@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: centaur;
  src: url('/fonts/centaur.ttf') format("truetype");
}


:root {
  --primary: #ffcf78;
  --secondary: #ff6f00;
  --tertiary: #2a353e;

  /*--font-family: "Arial Rounded MT Bold", "Segoe UI", Arial, sans-serif;*/
  --font-family-alt: Arial;

  --text-color: var(--tertiary);
  --background-color: #f4e1c1;
  --border-color: #5d4037;
  --highlight-color: var(--secondary);

  --locked-color: #d32f2f;
  --shadow-color: rgba(0, 0, 0, 0.5);

  --progress-bg: #d7ccc8;
  --progress-fill: #7cb342;
  --progress-border: var(--border-color);

  /* region Colors */
  /* Shadows */
  --md-sys-color-shadow: rgba(0, 0, 0, .5);

  /* Information Colors */
  --md-sys-color-error: rgb(255 107 107);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 218 216);
  --md-sys-color-on-error-container: rgb(115 51 50);

  --md-sys-color-okay: rgba(76 212 168);
  --md-sys-color-on-okay: rgb(0 0 0);
  --md-sys-color-okay-container: rgb(224, 253, 244);
  --md-sys-color-on-okay-container: rgb(50, 124, 99);

  --md-sys-color-warning: rgb(255 180 84);
  --md-sys-color-on-warning: rgb(0 0 0);
  --md-sys-color-warning-container: rgb(253, 235, 211);
  --md-sys-color-on-warning-container: rgb(145, 106, 55);

  --md-sys-color-info: rgb(80 165 241);
  --md-sys-color-text-info: hsl(0 0% 5%);
  --md-sys-color-info-container: hsl(208deg 70% 86%);
  --md-sys-color-on-info-container: rgb(40, 84, 122);

  /* Outlines */
  --md-sys-color-outline: rgb(153 144 128);
  --md-sys-color-outline-variant: rgb(124, 117, 105);

  /* Others */
  --md-sys-color-text-disabled: #444444;
  --md-sys-color-text-muted: #6b7280;
  --md-sys-color-glass: rgba(0, 0, 0, 0.3);
  --md-sys-color-black: hsl(0 0% 5%);
  --md-sys-color-white: hsl(0 0% 95%);
  --md-sys-color-transparent: rgba(0, 0, 0, 0);

  /* endregion */


  /* region Gaps */
  --gap-none: 0;
  --gap-extra-small: 4px;
  --gap-small: 8px;
  --gap-medium: 12px;
  --gap-large: 16px;
  --gap-extra-large: 20px;
  /* endregion */

  /* region Shadows */
  --box-shadow-level-0: 0 0 0     var(--md-sys-color-shadow);
  --box-shadow-level-1: 0 1px 3px var(--md-sys-color-shadow);
  --box-shadow-level-2: 0 2px 5px var(--md-sys-color-shadow);
  --box-shadow-level-3: 0 3px 6px var(--md-sys-color-shadow);
  --box-shadow-level-4: 0 4px 8px var(--md-sys-color-shadow);
  --box-shadow-level-5: 0 5px 9px var(--md-sys-color-shadow);
  /* endregion */

  /* region Radius */
  --border-radius-none:           0;
  --border-radius-extra-small:    4px;
  --border-radius-small:          8px;
  --border-radius-medium:         12px;
  --border-radius-large:          16px;
  --border-radius-full:           100vmax;
  /* endregion */

  /* region Durations */
  --duration-short-1:       0.05s;
  --duration-short-2:       0.10s;
  --duration-short-3:       0.15s;
  --duration-short-4:       0.20s;
  --duration-medium-1:      0.25s;
  --duration-medium-2:      0.30s;
  --duration-medium-3:      0.35s;
  --duration-medium-4:      0.40s;
  --duration-long-1:        0.45s;
  --duration-long-2:        0.50s;
  --duration-long-3:        0.55s;
  --duration-long-4:        0.60s;
  --duration-extra-long-1:  0.70s;
  --duration-extra-long-2:  0.80s;
  --duration-extra-long-3:  0.90s;
  --duration-extra-long-4:  1.00s;

  --duration-animation-short:         0.50s;
  --duration-animation-medium:        1.00s;
  --duration-animation-large:         2.00s;
  --duration-animation-extra-large:   3.00s;
  /* endregion */

  /* region Fonts */

  --font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  --font-family-centaur: 'centaur';
  /* endregion */

  /* region Font Sizes */
  /* Allgemein */
  --font-size-extra-small: clamp(0.625rem, 0.8vw, 0.75rem);   /* 10px - 12px */
  --font-size-small: clamp(0.75rem, 1vw, 0.875rem);          /* 12px - 14px */
  --font-size-medium: clamp(0.875rem, 1.1vw, 1rem);          /* 14px - 16px */
  --font-size-large: clamp(1rem, 1.25vw, 1.125rem);          /* 16px - 18px */
  --font-size-extra-large: clamp(1.125rem, 1.5vw, 1.25rem);  /* 18px - 20px */
  --font-size-404: 4rem;
  --font-size-404-description: 1.5rem;

  /* Headings */
  --font-size-h1: clamp(1.75rem, 4vw, 2rem);    /* 28px - 32px */
  --font-size-h2: clamp(1.5rem, 3.5vw, 1.75rem); /* 24px - 28px */
  --font-size-h3: clamp(1.25rem, 3vw, 1.5rem);   /* 20px - 24px */
  --font-size-h4: clamp(1.125rem, 2.5vw, 1.25rem); /* 18px - 20px */
  --font-size-h5: clamp(1rem, 2.2vw, 1.125rem);   /* 16px - 18px */
  --font-size-h6: clamp(0.875rem, 2vw, 1rem);     /* 14px - 16px */

  /* Paragraph */
  --font-size-p: clamp(0.875rem, 1.1vw, 1rem);   /* 14px - 16px */
  /* endregion */
}

/* You can add global styles to this file, and also import other style files */
*{
  font-family: var(--font-family), serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4{
  font-size: var(--font-size-h4);
}
h5{
  font-size: var(--font-size-h5);
}
h6{
  font-size: var(--font-size-h6);
}


/* region Animations */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes popIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes popOut {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.8); }
}

/* endregion */
