<div class="orders">
  <div class="order">
    <div class="title">
      Peter Clarkson
    </div>
    <div class="elements">
      <div class="element">
        <img src="https://cdn-icons-png.freepik.com/512/8991/8991331.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="counter">2x</span>
        <span>Motherboard</span>
      </div>
      <div class="element">
        <img src="https://cdn-icons-png.freepik.com/512/8991/8991331.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="counter">2x</span>
        <span>Motherboard</span>
      </div>
    </div>
    <div class="rewards">
      <div class="money">
        <img src="https://cdn-icons-png.freepik.com/512/1346/1346985.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="value">2500</span>
      </div>
      <div class="points">
        <img src="https://cdn-icons-png.freepik.com/512/5701/5701965.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="value">50</span>
      </div>
    </div>
  </div>
  <div class="order">
    <div class="title">
      Peter Clarkson
    </div>
    <div class="elements">
      <div class="element">
        <img src="https://cdn-icons-png.freepik.com/512/8991/8991331.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="counter">2x</span>
        <span>Motherboard</span>
      </div>
      <div class="element">
        <img src="https://cdn-icons-png.freepik.com/512/8991/8991331.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="counter">2x</span>
        <span>Motherboard</span>
      </div>
    </div>
    <div class="rewards">
      <div class="money">
        <img src="https://cdn-icons-png.freepik.com/512/1346/1346985.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="value">2500</span>
      </div>
      <div class="points">
        <img src="https://cdn-icons-png.freepik.com/512/5701/5701965.png?ga=GA1.1.1330584201.1765233239" class="icon" />
        <span class="value">50</span>
      </div>
    </div>
  </div>
</div>