.debug-menu-container {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 600px;
  text-align: center;
  border: 5px solid var(--tertiary);
  color: var(--text-color);
  font-family: var(--font-family);
}

.two-column {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h4 {
  margin: 10px;
}

.form-group {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--border-color);
  background-color: #fff;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: var(--tertiary);
  color: var(--secondary);
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 5px solid black;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #4a555e;
}

button:active {
  border-bottom-width: 2px;
  margin-top: 3px;
}