<div class="menu-container" [ngClass]="{ 'closing': isClosing }">
  <h1 class="menu-title">Debug Menu</h1>
  <div class="container">
    <div class="row-container">
      <div class="column-container">
        <h4 class="section-title">Spieler Stats</h4>
        <div class="form-group">
          <label for="money">Geld:</label>
          <input type="number" id="money" min="0" [(ngModel)]="playerMoney">
          <button (click)="setMoney()">Geld festlegen</button>
        </div>
        <div class="form-group">
          <label for="score">Score:</label>
          <input type="number" id="score" min="0" [(ngModel)]="playerScore">
          <button (click)="setScore()">Score festlegen</button>
        </div>
      </div>
      <div class="column-container">
        <h4 class="section-title">Eigene Aufgabe erstellen</h4>
        <div class="form-group">
          <div class="section">
            <label for="product">Produkt:</label>
            <select id="product" [(ngModel)]="selectedProductId">
              <option *ngFor="let product of products" [value]="product.id">
                {{ product.name }}
              </option>
            </select>

            <label for="quantity">Anzahl:</label>
            <input type="number" id="quantity" min="0" [(ngModel)]="quantity">
          </div>

          <button (click)="createCustomOrder()">Eigene Aufgabe erstellen</button>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row-container">
        <button (click)="createRandomOrder()">Erstelle zufällige Aufgaben</button>
        <button (click)="completeAllOrders()">Alle Aufgaben abhaken</button>
    </div>
  </div>
</div>
