.menu-container {
  width: 600px;
}

.container{
  display: flex;
  flex-direction: column;
}
.row-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: var(--gap-large);
}
.column-container{
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row{
  display: flex;
  flex-direction: row;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-extra-small);
  background: rgba(0 0 0 / 15%);
  padding: var(--gap-small);
  border-radius: var(--border-radius-small);
  flex-grow: 1;
}
.form-group .section {
  flex-grow: 1;
}

.divider{
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--md-sys-color-outline);
  margin: var(--gap-small) 0;
}
