.game-container {
  position: relative;        /* Referenzpunkt für HUD */
  width: 100%;               /* volle Breite des Containers */
  height: 100%;              /* volle Höhe */
  margin: 0 auto;            /* zentriert auf der Seite */
  overflow: hidden;
  max-width: 1000px;
}

app-hud {
  position: absolute;        /* innerhalb des Wrappers */
  top: 10px;
  right: 250px;
  gap: 10px;
}
