.stats-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-large);
  background-color: var(--tertiary);
  color: var(--primary);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-level-1);
  padding: var(--gap-large);
  font-size: var(--font-size-large);
  font-weight: bold;
  position: fixed;
  top: var(--gap-large);
  right: var(--gap-large);
  pointer-events: auto;
  white-space: nowrap;
  user-select: none;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  position: relative;
  height: 100%;
}

.stat-item .icon {
  width: 24px;
  aspect-ratio: 1/1;
  filter: var(--box-shadow-level-1);
}
