<div class="stats-box">
  <div class="stat-item">
    <span class="player-name">{{ playerName }}</span>
  </div>

  <div class="separator"></div>

  <div class="stat-item">
    <span class="money-val">{{ playerMoney | number }}</span>
    <span class="money-val">$</span>
  </div>

  <div class="separator"></div>

  <div class="stat-item">
    <span>🏆</span>
    <span class="score-val">{{ playerScore }}</span>
  </div>

  <div class="separator"></div>
  <img (click)="addPlayerScore(1)" src="images/settings.png" alt="Settings" class="settings-btn">
</div>
